/* Base */
.btn {
  @apply relative h-[36px] flex items-center flex-none gap-[8px] leading-4 rounded-md duration-200 cursor-pointer overflow-hidden outline-none;
}
/* Justify */
.btn-center {
  @apply justify-center;
}
.btn-between {
  @apply justify-between;
}
/* Variants */
.btn-link {
  @apply text-[0.9rem] hover:underline;
}
.btn-text,
.btn-contained {
  @apply lg:min-w-[180px] px-[15px] font-medium;
}
.btn-icon {
  @apply w-[36px];
}
/* Colors */
/* Primary */
.btn-text.btn-primary {
  @apply text-customPurple hover:bg-customPurpleExtraLight/30;
}
.btn-contained.btn-primary {
  @apply bg-customPurple text-customWhite hover:bg-customPurpleDark disabled:bg-customPurpleLight disabled:hover:disabled:bg-customPurpleLight;
}
/* Secondary */
.btn-contained.btn-secondary {
  @apply bg-customGray text-customWhite hover:bg-customGrayDark disabled:bg-customGrayLight disabled:hover:disabled:bg-customGrayLight;
}
.btn-icon.btn-secondary {
  @apply bg-customGrayExtraLight hover:bg-customGrayLight text-customDarkTheme;
}
/* Error */

/* Ripple effect */
.ripple-container {
  @apply absolute top-0 left-0 right-0 bottom-0 z-0 pointer-events-none;
}
.ripple {
  @apply absolute bg-customBlack/15 rounded-full pointer-events-none;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
